[Unit]
Description=Check Assura main every hour

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=30
Unit=assura-deploy.service

[Install]
WantedBy=timers.target
